      <footer class="footer">
        <ul class="footer-links">
          <li>Get a <a href="https://tinyletter.com/henrystanley">once-a-month email</a> with more posts like this.</li>
          </ul>
          <br><br>
        <ul class="footer-links">
          <li>
            <a href="{{ .Site.RSSLink }}" type="application/rss+xml" target="_blank"><i class="fa fa-rss"></i> {{ i18n "footerRSS" }}</a>
          </li>
          <li>
            <a href="https://github.com/henryaj/rc"><i class="fa fa-github"></i> Source</a>
          </li>
          <li>
            <a href="mailto:henry@henrystanley.com"> Contact</a>
          </li>
          <li>
            <a href="http://henrystanley.com">henrystanley.com</a>
          </li>
        </ul>
      </footer>

    </div>

  </body>
</html>
