      <footer class="footer">
        <ul class="footer-links">
          <li>
            <a href="{{ .Site.RSSLink }}" type="application/rss+xml" target="_blank"><i class="fa fa-rss"></i> {{ i18n "footerRSS" }}</a>
          </li>
          <li>
            <a href="https://github.com/henryaj/rc"><i class="fa fa-github"></i> Source</a>
          </li>
          <li>
            <a href="mailto:henry@henrystanley.com"> Contact</a>
          </li>
          <li>
            <a href="http://henrystanley.com">henrystanley.com</a>
          </li>
        </ul
        <div class="pt-2 pb-2"><script async defer src="https://www.recurse-scout.com/loader.js?t=63161220f0aa81bde01265259970fd56"></script></div>
      </footer>

    </div>

  </body>
</html>
