{{ partial "header.html" . }}
{{ template "_internal/google_analytics_async.html" . }}
<main class="content">

  <div><blockquote><em>I'm <a href="http://henrystanley.com">Henry</a>, a programmer in the Summer 1 batch at the <a href="https://recurse.com">Recurse Center</em>.</p></blockquote></div><br>

  <div class="list">
     {{ range (.Paginate ((where .Data.Pages "Type" "post").GroupByDate "2006")).PageGroups }}

    {{ range .Pages }}

    {{ partial "list-item.html" . }}

    {{ end }}
    {{ end }}
  </div>

  {{ partial "pagination.html" . }}

</main>

{{ partial "footer.html" . }}
