{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="article">
    <h1 class="article-title">{{ .Title }}</h1>
    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Site.Params.Author }}</span>
    {{ end }}

    <div class="article-content">
      {{ if eq .Params.toc true}}
        <div class="toc">
        {{ .TableOfContents }}
        </div>
      {{ end }}

      {{ .Content }}
    </div>

    <ul class="article-taxonomy">
      {{ if .Params.categories }}
      <hr>
      <li>
        <i class="fa fa-category"></i>{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}{{ end }}<a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}

      {{ if .Params.tags }}
      <li>
        <i class="fa fa-tags"></i>{{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}
  </article>

</main>

{{ partial "footer.html" . }}
